html{font-size:13.33333333vw}
@font-face
{
font-family:"pingfang";
src: url('./typeface/苹方字体.ttf')
}
* {
    margin: 0;
    padding: 0;    
   
}
div img{
     display:block;
     
}
p div{
    font-family:"pingfang";
}
.bigfloor{
    background-image: url(./pictures/大底板.png);
    background-size: 7.5rem 37.58rem;
    width: 7.5rem;
    height:37.58rem;
}
.floor{
    background-image: url(./pictures/状态栏底板.png);
    background-size: 7.5rem 1.48rem;
    width: 7.5rem;
    height: 1.125rem;
    
}
.head{
    height: 0.23rem;
    width: 7.25rem;
    margin-left: 0.125rem;
    margin-top: 0;
    margin-top: 0.185rem;

}
.head_Icon1{
    width: 1.34rem;
    height: 0.38rem;
    margin-left: 0.34rem;
  
}
.head_Icon2{
    width: 0.42rem;
    height: 0.3rem;
    margin-left: 5.02rem;
}
.head_Flex{
    display: flex; 
     margin-top: 0.33rem;
}
.bannerfloor{
    background-image: url(./pictures/banner底板.png);
    background-size: 7.5rem 6.92rem;
    width: 7.5rem;
    height: 6.92rem;
    overflow:hidden;

}
.banner{
    width: 5.89rem;
    height: 2.98rem;
    margin-left: 0.65rem;
    margin-top: 0.39rem;
}
.banner_You{
    width: 1.13rem;
    height: 1.1rem;
    margin-top: 0.28rem;
    margin-left: 3.248rem;
}
.banner_Character{
    width: 3.43rem;
    height: 0.69rem;
    margin-left: 2.061rem;
}
.banner_Character1{
    color: #3391f8;
    font-size:0.28rem;
    margin-left: 1.15rem;
}
.banner_Character2{
    color: #3391f8;
    font-size:0.19rem;
    margin-top: 0.08rem;
    
}
.banner_Download{
    width: 4.28rem;
    height: 0.76rem;
    margin-left: 1.631rem;
    margin-top: 0.25rem;
}
.content_Floor1{
    background-image: url(./pictures/课表查询底板.png);
    background-size:7.24rem 2.75rem ;
    width: 7.24rem;
    height: 2.75rem;
    overflow: hidden;
    margin-left: 0.15rem;
    display: flex;
    }
.content_Floor1_character{
    margin-top: 0.92rem;
    margin-left: 0.43rem;
}
.content_Floor1_character1{
    font-size:0.28rem;
}
.content_Floor1_character2{
    font-size:0.22rem;
    color: #565656;
    margin-top: 0.08rem;
}
.content_Floor_icon1{
    width: 1.92rem;
    height: 1.44rem;
    margin-top: 0.61rem;
    margin-left: 0.62rem;
}
.content_Floor_icon2{
    width: 1.92rem;
    height: 1.44rem;
    margin-top: 0.61rem;
    margin-left: 0.21rem;
}
.content_Floor_icon3{
    width: 1.92rem;
    height: 1.42rem;
    margin-top: 0.61rem;
    margin-left: 0.66rem;
}
.content_Floor2{
    background-image: url(./pictures/版聊底板.png);
    background-size:7.06rem 3.86rem ;
    width: 7.06rem;
    height: 3.86rem;
    overflow: hidden;
    margin-left: 0.25rem;
    margin-top: 0.2rem;
    }
.content_Floor2_character{
    margin-top: 0.32rem;
    margin-left: 1.16rem;
}
.content_Floor2_character1{
    font-size:0.28rem;
    margin-left: 1.75rem;
}
.content_Floor2_character2{
    font-size:0.22rem;
    color: #565656;
    margin-top: 0.08rem;
}
.content_Floor2_icon{
    width: 5.01rem;
    height: 1.8rem;
    margin-left: 0.95rem;
    margin-top: 0.52rem;
}
.content_Floor3{
    background-image: url(./pictures/校车轨迹底板.png);
    background-size:7.06rem 3.86rem ;
    width: 7.06rem;
    height: 3.86rem;
    overflow: hidden;
    margin-left: 0.25rem;
    margin-top: 0.1rem;
}
.content_Floor3_character{
    margin-top: 0.26rem;
    margin-left: 1.16rem;
}
.content_Floor3_icon{
    width: 5.23rem;
    height: 2.17rem;
    margin-left: 0.82rem;
    margin-top: 0.24rem;
}
.content_Floor3{
    background-image: url(./pictures/校车轨迹底板.png);
    background-size:7.06rem 3.86rem ;
    width: 7.06rem;
    height: 3.86rem;
    overflow: hidden;
    margin-left: 0.25rem;
    margin-top: 0.1rem;
}
.content_Floor4_character{
    margin-top: 0.38rem;
    margin-left: 1.2rem;
}
.content_Floor4_character1{
    font-size:0.28rem;
    margin-left: 1.48rem;
}
.content_Floor4_character2{
    font-size:0.22rem;
    color: #565656;
    margin-top: 0.08rem;
}
.content_Floor4_icon{
    width: 5.23rem;
    height: 2.17rem;
    margin-left: 0.82rem;
    margin-top: 0.24rem;
}
.content_Floor4_character3{
    font-size: 0.22rem;
    color:#8dadf2;
    margin-left: 0.74rem;
    margin-top: 0.33rem;
}
.content_Floor4_icon1{
    width: 0.21rem;
    height: 0.22rem;
   
}
.content_Floor4_character4{
    font-size: 0.2rem;
    color:#8dadf2;
    margin-left: 0.15rem;
    width: 2.5rem;
}
.content_Floor4_icon{
    display: flex;
    height: 0.23rem;
    margin-top: 0.27rem;
}
.conten_Floor4_bigflex{
    display: flex;
    width: 5.16rem;
    height: 1.19rem;
}
.conten_Floor4_a{
    width: 2.52rem;
    height: 0.81rem;
    margin: 0%;
}
.conten_Floor4_b{
    width: 2.52rem;
    height: 0.81rem;
    margin-left: 0.71rem;
}
.content_Floor5_character1{
    font-size: 0.28rem;
    color: #5c5656;
    margin-top: 0.37rem; 
   text-align: center;
}
.content_Floor5_character2{
    font-size: 0.18rem;
    color: #5c5656;
    margin-left: 0.5rem;
    width: 2.2rem;
    text-align: center;
    margin-top: 0.13rem;
}
.content_Floor5_icon1{
    width: 0.85rem;
    height: 1.17rem;
    margin-top: 0.2rem;
    margin-left: 1.235rem;
 
}
.content_Floor5{
    background-image: url(./pictures/圆角矩形\ 8.png);
    background-size: 3.32rem 3.11rem;
    width:3.32rem ;
    height:3.11rem;
    margin-left: 0.3rem;
    margin-top: 0.25rem;
    overflow: hidden;}
.content_Floor5_icon2{
    width: 1.15rem;
    height: 1.27rem;
    margin-top: 0.22rem;
    margin-left: 1.09rem;
}
.content_Floor5_icon3{
    width: 1.149em;
    height: 1.02rem;
    margin-top: 0.27rem;
    margin-left: 0.9rem;
}
.content_Floor5_icon4{
    width: 1.07em;
    height: 1.27rem;
    margin-top: 0.17rem;
    margin-left: 1.08rem;
}
.content_Floor5_flex{
    display: flex;
    overflow: hidden;
}
.content_Floor5_character1_b{
    font-size: 0.28rem;
    color: #5c5656;
    margin-top: 0.46rem; 
   text-align: center;
}
.content_Floor5_character1_a{
    font-size: 0.28rem;
    color: #5c5656;
    margin-top: 0.26rem; 
   text-align: center;
}
.content_Floor5_character1_c{
    font-size: 0.28rem;
    color: #5c5656;
    margin-top: 0.31rem; 
   text-align: center;
}
.floor_Button{
    width: 4.93rem;
    height: 0.87rem;
    margin-top: 0.38rem;
    margin-left: 1.285rem;
}
.foot{
    background-image: url(./pictures/矩形\ 3.png);
    margin-top: 0.7rem;
    width: 7.5rem;
    height: 0.65rem;
    margin-left: 0%;
    overflow: hidden;
}
.foot_Character1{
    font-size: 0.1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0.2rem;
}
.foot_Character2{
    font-size: 0.09rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0.1rem;
}
